@import url("~leaflet/dist/leaflet.css");

:root{
  --main: #040a13;
  --transition-main: rgba(189, 189, 189, 0.2);
  --placeholder-white: #dcdcdc;
  --transition-gray: rgba(189, 189, 189, 0.3);
  --search-dark: #040a1391

}
body{
  overflow: hidden;
}
.leaflet-container {
  height: calc(100vh - 3rem);
  width: 100%;
  display: flex;
}
.zoom-slider {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.leaflet-touch .leaflet-bar{
  background: transparent;
  border: none;
  padding: 0.5rem ;
  min-width: 40rem;
  margin: 0;
  @media(max-width: 680px) {
    min-width: 25rem;
  }
  @media(max-width: 450px) {
    min-width: 20rem;

  }

  .open{
    border-radius: 1.7rem 1.7rem 0 0;
    min-width: inherit;
    width: inherit;
    & > div{
      margin: 1rem -1rem;
      padding: 1rem;
      min-width: inherit;
      width: inherit;
      border-radius: 0 0 1.5rem 1.5rem;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  & > form{
    position: relative;
    height: 2.5rem;
    color: black;
    background: var(--search-dark);
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 1rem 1rem 0;

    & > input{
      font-size: 1.2rem;
      color: white;
      width: calc(100% - 3rem);
    }
    & > input::placeholder{
      font-size: 1.2rem;
      color: var(--placeholder-white);
    }
    & > button{
      position: absolute;
      right: 2rem;
      top: 0.8rem;
      background: none;
      font-size: 1.5rem;
      color: white;
    }

    & > div{
      font-size: 1rem;
      background: white;
      background: var(--search-dark);

    }

  }
  & > a{
    display: none;
  }
}
