
.content{
  will-change: transform;
}

.gradient{
  width: 100%;
  height:7rem;
  position: relative;

}
.gradient:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 11rem;
  bottom: 0;
  background: var(--main);
  z-index: 4;
}

